In [93]:
import pandas as pd

In [94]:
# einlesen der Tripdaten als DataFrame
df = pd.read_csv("C:\\Users\\thoma\\Desktop\\ev-modelling-repo\\Data\\NHTS_trips_raw.csv")

In [96]:
# erstellen leerer DataFrame
data = pd.DataFrame()

# Übernehmen relevanter Spalten und Umbennennung

In [101]:
# zusammenfügen von PERSONID und HOUSEID um einzigartige personenbezogene ID zu erlangen
data["ID"] = df["HOUSEID"].apply(lambda x: str(x)) + df["PERSONID"].apply(lambda x: str(x))
data["ID"] = data["ID"].apply(lambda x: int(x))
data["Type_day"] = df["TRAVDAY"]
data["TRPTRANS"] = df["TRPTRANS"]
data["Trip_no"] = df["TDTRPNUM"]
data["Whyfrom"] = df["WHYFROM"]
data["Whyto"] = df["WHYTO"]
data["Distance"] = df["VMT_MILE"]
data["Trip_duration"] = df["TRVLCMIN"]
data["Departure_hhmm"] = df["STRTTIME"]
data["Arrival_hhmm"]= df["ENDTIME"]

In [102]:
testing = data.copy()

In [103]:
testing.head()

,ID,Type_day,TRPTRANS,Trip_no,Whyfrom,Whyto,Distance,Trip_duration,Departure_hhmm,Arrival_hhmm
0,300000071,2,3,1,1,19,5.244,15,1000,1015
1,300000071,2,3,2,19,1,5.149,20,1510,1530
2,300000072,2,6,1,3,1,84.004,120,700,900
3,300000072,2,6,2,1,3,81.628,150,1800,2030
4,300000073,2,3,1,1,8,2.250,15,845,900

## Nur Wege betrachten die mit durch EV substituierbarem Fahrzeug zurückgelegt wurden
Trip Mode derived = TRPTRANS \
3 = Car \
4 = SUV \
5 = Van \
6 = Pickup truck \

In [104]:
filt = (df["TRPTRANS"] > 2) & (df["TRPTRANS"] < 7)
testing = testing[filt]

# Zuordnung der Wochentage anpassen

In [105]:
testing["Type_day"] = testing["Type_day"].replace({1:7, 2:1, 3:2, 4:3, 5:4, 6:5, 7:6})

# Umrechnen der Wergzeiten von hhmm in Minuten

In [106]:
testing["Type_day"]

0         1
1         1
2         1
3         1
4         1
         ..
923562    1
923563    1
923564    1
923565    1
923566    1
Name: Type_day, Length: 795163, dtype: int64

In [107]:
def to_minutes(hhmm):
    result = 0
    if len(str(hhmm)) == 4:
        hhmm = str(hhmm)
        hh = int(hhmm[0:2])
        mm = int(hhmm[2:4])
    if len(str(hhmm)) ==3:
        hmm = str(hhmm)
        hh = int(hmm[0])
        mm = int(hmm[1:3])
    if len(str(hhmm)) ==2:
        mm = str(hhmm)
        hh = 0
        mm = int(mm)
    if len(str(hhmm)) ==1:
        m = str(hhmm)
        hh = 0
        mm = int(m)
    result = hh*60+mm
    return result

In [108]:
x = 14*60+50
test = to_minutes(1450)
x==test

True

In [109]:
testing["Departure"] = testing["Departure_hhmm"].apply(lambda x: to_minutes(x))

In [110]:
testing["Arrival"] = testing["Arrival_hhmm"].apply(lambda x: to_minutes(x))

In [111]:
testing.head(10)

,ID,Type_day,TRPTRANS,Trip_no,Whyfrom,Whyto,Distance,Trip_duration,Departure_hhmm,Arrival_hhmm,Departure,Arrival
0,300000071,1,3,1,1,19,5.244,15,1000,1015,600,615
1,300000071,1,3,2,19,1,5.149,20,1510,1530,910,930
2,300000072,1,6,1,3,1,84.004,120,700,900,420,540
3,300000072,1,6,2,1,3,81.628,150,1800,2030,1080,1230
4,300000073,1,3,1,1,8,2.250,15,845,900,525,540
5,300000073,1,3,2,8,1,2.243,15,1430,1445,870,885
6,300000081,4,6,1,1,3,8.017,15,1115,1130,675,690
7,300000081,4,6,2,3,1,8.017,10,2330,2340,1410,1420
8,300000121,4,4,1,1,16,3.395,15,550,605,350,365
9,300000121,4,4,2,16,1,3.395,15,700,715,420,435

# Neuzuordnung Wegzwecke
-7 (I prefer not to answer) -> 99 (keine Angabe) \
-8 (I don't know) -> 99 (keine Angabe) \
-9 (Not ascertained) -> 99 (keine Angabe) \
01 (Regular home activities (chores, sleep)) -> 8 (nach Hause) \
02 (Work from home(paid)) -> 8 (nach Hause) \
03 (Work) -> 1 (Erreichen des Arbeitsplatzes) \
04 (Work-related meeting / trip) -> 2 (dienstlich/geschäftlich) \
05 (Volunteer acitivities (not paid)) -> 7 (Freizeitaktivität) \
06 (Drop off / pick up someone) -> 6 (Bringen/Holen/Begleiten von Personen) \
07 (Change type of transportation) -> 10 (anderer Zweck) \
08 (Attend school as a student) -> 3 (Erreichen der Ausbildungsstätte/Schule) \
09 Attend child care -> 10 (anderer Zweck) \
10 Attend adult care -> 10 (anderer Zweck) \
11 Buy goods (groceries, clothes, appliances, gas) -> 4 (Einkauf) \
12 Buy services (dry cleaners, banking, service a car, pet care) -> 5 (private Erledigungen) \
13 Buy meals (go out for a meal, snack, carry-out) -> 7 (Freizeitaktivität) \
14 Other general errands (post office, library) -> 5 (private Erledigungen) \
15 Recreational activities (visit parks, movies, bars, museums) -> 7 (Freizeitaktivität) \
16 Exercise (go for a jog, walk, walk the dog, go to the gym) -> 7 (Freizeitaktivität) \
17 Visit friends or relatives -> 7 (Freizeitaktivität) \
18 Health care visit (medical, dental, therapy) -> 5 (private Erledigungen) \
19 Religious or other community activities	-> 7 (Freizeitaktivität) \
97 Something Else -> 10 (anderer Zweck)

## Achtung: 
### Im Ausgangsdatensatz 9 = Rückweg vom vorherigen Weg, kommt hier nicht zum Einsatz

In [112]:
reassignment = {-7:99, -8:99, -9:99, 1:8, 2:8, 3:1, 4:2, 5:7, 6:6, 7:10, 8:3, 9:10, 10:10, 11:4,
                12:5, 13:7, 14:5, 15:7, 16:7, 17:7, 18:5, 19:7, 97:10}

In [113]:
testing["Whyto"] = testing["Whyto"].replace(reassignment)
testing["Whyfrom"] = testing["Whyfrom"].replace(reassignment)

In [114]:
testing["Whyto"].value_counts()

8     267833
7     166690
4     123504
1      87423
5      62990
6      53834
3      14104
2       9653
10      8950
99       182
Name: Whyto, dtype: int64

# Reduzieren der Zustände
auf: 
* Zuhause -> 1
* Arbeit -> 2 
* Einkaufen -> 3 
* Freizeit -> 4
* Sonstiges -> 5

### Zuordnung:
* Erreichen des Arbeitsplatzes 1 -> 2
* dienstlich/geschäftlich 2 -> 5  
* Erreichen der Ausbildungsstätte/Schule 3 -> 2 
* Einkauf (Dienstleistungen) 4 -> 3
* private Erledigung 5 -> 3
* Bringen/Holen/Begleiten von Personen 6 -> 5
* Freizeitaktivität 7 -> 4 
* nach Hause 8 -> 1
* Rückweg vom vorherigen Weg 9 -> zu letztem Zustand (in NHTS Datensatz nicht vorhanden)
* anderer Zweck 10 -> 5 Sonstiges
* keine Angabe 99 -> 5 Sonstiges (oder nicht berücksichtigen?)

In [115]:
reduzieren = {1:2, 2:5, 3:2, 4:3, 5:3, 6:5, 7:4, 8:1, 10:5, 99:5}

In [116]:
testing["Whyto"] = testing["Whyto"].replace(reduzieren)
testing["Whyfrom"] = testing["Whyfrom"].replace(reduzieren)

# Umrechnen Wegelänge

1mile = 1.60934km

In [117]:
testing["Distance"] = testing["Distance"].apply(lambda x: round(x*1.60934, 3) if x > 0 else -1)

In [118]:
testing["Distance"]

0           8.439
1           8.286
2         135.191
3         131.367
4           3.621
           ...
923562      1.257
923563      1.257
923564     15.389
923565     -1.000
923566     -1.000
Name: Distance, Length: 795163, dtype: float64

In [119]:
testing.head(10)

,ID,Type_day,TRPTRANS,Trip_no,Whyfrom,Whyto,Distance,Trip_duration,Departure_hhmm,Arrival_hhmm,Departure,Arrival
0,300000071,1,3,1,1,4,8.439,15,1000,1015,600,615
1,300000071,1,3,2,4,1,8.286,20,1510,1530,910,930
2,300000072,1,6,1,2,1,135.191,120,700,900,420,540
3,300000072,1,6,2,1,2,131.367,150,1800,2030,1080,1230
4,300000073,1,3,1,1,2,3.621,15,845,900,525,540
5,300000073,1,3,2,2,1,3.610,15,1430,1445,870,885
6,300000081,4,6,1,1,2,12.902,15,1115,1130,675,690
7,300000081,4,6,2,2,1,12.902,10,2330,2340,1410,1420
8,300000121,4,4,1,1,4,5.464,15,550,605,350,365
9,300000121,4,4,2,4,1,5.464,15,700,715,420,435

## Zuordnen Startzeiten zu Zeitschritten
Schrittweite: t = 15 Minuten \
96 Zeitschritte pro Tag: W_SZ_t = [0, 96]

In [120]:
testing["Departure_t"] = testing["Departure"].apply(lambda x: round(x/15))

In [121]:
testing.head()

,ID,Type_day,TRPTRANS,Trip_no,Whyfrom,Whyto,Distance,Trip_duration,Departure_hhmm,Arrival_hhmm,Departure,Arrival,Departure_t
0,300000071,1,3,1,1,4,8.439,15,1000,1015,600,615,40
1,300000071,1,3,2,4,1,8.286,20,1510,1530,910,930,61
2,300000072,1,6,1,2,1,135.191,120,700,900,420,540,28
3,300000072,1,6,2,1,2,131.367,150,1800,2030,1080,1230,72
4,300000073,1,3,1,1,2,3.621,15,845,900,525,540,35

## Speichern der Daten

In [122]:
testing.to_csv(r'C:\Users\thoma\Desktop\ev-modelling-repo\Data\NHTS_trips_processed.csv', header=True, index=False)