In [146]:
import pandas as pd

In [147]:
df = pd.read_csv("trippub.csv")

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923572 entries, 0 to 923571
Columns: 105 entries, HOUSEID to HBRESDN
dtypes: float64(4), int64(97), object(4)
memory usage: 739.9+ MB

In [149]:
data = pd.DataFrame()

In [150]:
data["ST_WOTAG"] = df["TRAVDAY"]
data["WHYFROM"] = df["WHYFROM"]
data["W_SZ"] = df["STRTTIME"]
data["W_AZ"]= df["ENDTIME"]
data["wegmin_imp1"] = df["TRVLCMIN"]
data["zweck"] = df["WHYTO"]
data["wegkm"] = df["VMT_MILE"]
data["TDTRPNUM"] = df["TDTRPNUM"]
data["seg_kba"] = df["VEHID"]

In [151]:
testing = data.copy()

In [152]:
testing.head()

,ST_WOTAG,WHYFROM,W_SZ,W_AZ,wegmin_imp1,zweck,wegkm,TDTRPNUM,seg_kba
0,2,1,1000,1015,15,19,5.244,1,3
1,2,19,1510,1530,20,1,5.149,2,3
2,2,3,700,900,120,1,84.004,1,5
3,2,1,1800,2030,150,3,81.628,2,5
4,2,1,845,900,15,8,2.250,1,1

# Zuordnung der Wochentage anpassen

In [153]:
testing["ST_WOTAG"] = testing["ST_WOTAG"].replace({1:7, 2:1, 3:2, 4:3, 5:4, 6:5, 7:6})

In [154]:
testing["ST_WOTAG"].value_counts()

5    154049
4    150812
3    147798
2    147502
1    137379
6     97536
7     88496
Name: ST_WOTAG, dtype: int64

In [155]:
data["ST_WOTAG"].value_counts()

6    154049
5    150812
4    147798
3    147502
2    137379
7     97536
1     88496
Name: ST_WOTAG, dtype: int64

# Umrechnen der Wergzeiten von hhmm in Minuten

In [156]:
testing["W_SZ"]

0         1000
1         1510
2          700
3         1800
4          845
          ...
923567     810
923568    1320
923569    1415
923570    1820
923571    1848
Name: W_SZ, Length: 923572, dtype: int64

In [157]:
def to_minutes(hhmm):
    result = 0
    if len(str(hhmm)) == 4:
        hhmm = str(hhmm)
        hh = int(hhmm[0:2])
        mm = int(hhmm[2:4])
    if len(str(hhmm)) ==3:
        hmm = str(hhmm)
        hh = int(hmm[0])
        mm = int(hmm[1:3])
    if len(str(hhmm)) ==2:
        mm = str(hhmm)
        hh = 0
        mm = int(mm)
    if len(str(hhmm)) ==1:
        m = str(hhmm)
        hh = 0
        mm = int(m)
    result = hh*60+mm
    return result

In [158]:
x = 14*60+50
test = to_minutes(1450)
x==test

True

In [159]:
testing["W_SZ_MIN"] = testing["W_SZ"].apply(lambda x: to_minutes(x))

In [160]:
testing["W_AZ_MIN"] = testing["W_AZ"].apply(lambda x: to_minutes(x))

In [161]:
testing.head(10)

,ST_WOTAG,WHYFROM,W_SZ,W_AZ,wegmin_imp1,zweck,wegkm,TDTRPNUM,seg_kba,W_SZ_MIN,W_AZ_MIN
0,1,1,1000,1015,15,19,5.244,1,3,600,615
1,1,19,1510,1530,20,1,5.149,2,3,910,930
2,1,3,700,900,120,1,84.004,1,5,420,540
3,1,1,1800,2030,150,3,81.628,2,5,1080,1230
4,1,1,845,900,15,8,2.250,1,1,525,540
5,1,8,1430,1445,15,1,2.243,2,1,870,885
6,4,1,1115,1130,15,3,8.017,1,4,675,690
7,4,3,2330,2340,10,1,8.017,2,4,1410,1420
8,4,1,550,605,15,16,3.395,1,2,350,365
9,4,16,700,715,15,1,3.395,2,2,420,435

# Neuzuordnung Wegzwecke
-7 (I prefer not to answer) -> 99 (keine Angabe) \
-8 (I don't know) -> 99 (keine Angabe) \
-9 (Not ascertained) -> 99 (keine Angabe) \
01 (Regular home activities (chores, sleep)) -> 8 (nach Hause) \
02 (Work from home(paid)) -> 8 (nach Hause) \
03 (Work) -> 1 (Erreichen des Arbeitsplatzes) \
04 (Work-related meeting / trip) -> 2 (dienstlich/geschäftlich) \
05 (Volunteer acitivities (not paid)) -> 7 (Freizeitaktivität) \
06 (Drop off / pick up someone) -> 6 (Bringen/Holen/Begleiten von Personen) \
07 (Change type of transportation) -> 10 (anderer Zweck) \
08 (Attend school as a student) -> 3 (Erreichen der Ausbildungsstätte/Schule) \
09 Attend child care -> 10 (anderer Zweck) \
10 Attend adult care -> 10 (anderer Zweck) \
11 Buy goods (groceries, clothes, appliances, gas) -> 4 (Einkauf) \
12 Buy services (dry cleaners, banking, service a car, pet care) -> 5 (private Erledigungen) \
13 Buy meals (go out for a meal, snack, carry-out) -> 7 (Freizeitaktivität) \
14 Other general errands (post office, library) -> 5 (private Erledigungen) \
15 Recreational activities (visit parks, movies, bars, museums) -> 7 (Freizeitaktivität) \
16 Exercise (go for a jog, walk, walk the dog, go to the gym) -> 7 (Freizeitaktivität) \
17 Visit friends or relatives -> 7 (Freizeitaktivität) \
18 Health care visit (medical, dental, therapy) -> 5 (private Erledigungen) \
19 Religious or other community activities	-> 7 (Freizeitaktivität) \

## Achtung: 
### Im Ausgangsdatensatz 9 = Rückweg vom vorherigen Weg, kommt hier nicht zum Einsatz

In [162]:
reassignment = {-7:99, -8:99, -9:99, 1:8, 2:8, 3:1, 4:2, 5:7, 6:6, 7:10, 8:3, 9:10, 10:10, 11:4,
                12:5, 13:7, 14:5, 15:7, 16:7, 17:7, 18:5, 19:7}

In [163]:
testing["zweck"] = testing["zweck"].replace(reassignment)

In [164]:
testing["zweck"].value_counts()

8     318777
7     199666
4     132545
1      98968
5      68365
6      56377
3      22133
10     12043
2      11622
97      2844
99       232
Name: zweck, dtype: int64

# Umrechnen Wegelänge