In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pickle
import os

path = r"C:\Users\thoma\Desktop\ev-modelling-repo\Simulationsergebnisse\Results_5_WT_250k_CS3.pickle"
df = pickle.load(open(path, 'rb'))

In [4]:
df.head()

,Trip_id,Trip_no,Whyfrom,Whyto,Departure,Departure_t,Arrival,Trip_duration,Distance,Stay_duration,Soc_start,Soc_end,Charge_start,Charge_end
0,0.1,1,1,2,556.0,37,640.0,84.0,26.69,201,100.0,87.1,640.0,724.0
1,0.2,2,2,1,841.0,56,874.0,33.0,10.48,47,100.0,94.9,874.0,907.0
2,0.3,3,1,3,921.0,61,924.0,3.0,0.95,30,100.0,99.5,924.0,927.0
3,0.4,4,3,1,954.0,64,977.0,23.0,7.14,1379,100.0,96.5,977.0,999.0
4,1.1,1,1,2,420.0,28,474.0,54.0,17.01,232,100.0,95.8,474.0,525.0

In [11]:
df["Arrival_t"] = df["Arrival"].apply(lambda x: int(round(x/15)))

In [12]:
df.head()

,Trip_id,Trip_no,Whyfrom,Whyto,Departure,Departure_t,Arrival,Trip_duration,Distance,Stay_duration,Soc_start,Soc_end,Charge_start,Charge_end,Arrival_t
0,0.1,1,1,2,556.0,37,640.0,84.0,26.69,201,100.0,87.1,640.0,724.0,43
1,0.2,2,2,1,841.0,56,874.0,33.0,10.48,47,100.0,94.9,874.0,907.0,58
2,0.3,3,1,3,921.0,61,924.0,3.0,0.95,30,100.0,99.5,924.0,927.0,62
3,0.4,4,3,1,954.0,64,977.0,23.0,7.14,1379,100.0,96.5,977.0,999.0,65
4,1.1,1,1,2,420.0,28,474.0,54.0,17.01,232,100.0,95.8,474.0,525.0,32

In [14]:
driving = [0 for i in range(97)]
at_home = [0 for i in range(97)]
at_work = [0 for i in range(97)]
at_shopping = [0 for i in range(97)]
at_recreational = [0 for i in range(97)]
at_other = [0 for i in range(97)]

states = [driving, at_home, at_work, at_shopping, at_recreational, at_other]

In [15]:
df.shape

(851296, 15)

In [16]:
# iterieren durch alle Zeilen
rows = df.shape[0]
for i in range (rows-1):
    
    # ZUHAUSE BIS ERSTER TRIP 
    if df.at[i,"Trip_no"] == 1:
        # Fahrzeug zuhause bis zum Zeitpunkt der ersten Abfahrt
        whyfrom = df.at[i, "Whyfrom"]
        for j in range(df.at[i, "Departure_t"]):
            states[whyfrom][j] += 1
    
    # FAHRZUSTAND DEPARTURE - ARRIVAL
    # Fahrzeug im Fahrzustand bis zur Ankunft am Ziel
    for j in range(df.at[i, "Departure_t"], df.at[i, "Arrival_t"]):
        states[0][j] += 1
    
    whyto = df.at[i, "Whyto"]
    # ANKUNFT BIS NÄCHSTER TAG ODER ABFAHRT NÄCHSTER TRIP 
    # wenn letzter Trip der Person: Aufenthalt bis zum nächsten Morgen am Zielzustand
    if df.at[i+1,"Trip_no"] == 1:
        for j in range(df.at[i, "Arrival_t"], 97):
            states[whyto][j] +=1
    else:
        for j in range(df.at[i, "Arrival_t"], df.at[i+1, "Departure_t"]):
            states[whyto][j] +=1

In [18]:
for i in range(97): 
    print ((states[0][i] + states[1][i] + states[2][i] + states[3][i] + states[4][i] + states[5][i])/250000)

1.010172
1.02596
1.036384
1.044196
1.049932
1.0542
1.057592
1.060268
1.0625
1.064304
1.065724
1.067052
1.068184
1.069104
1.069908
1.070632
1.071304
1.071884
1.072316
1.072696
1.0731
1.073468
1.073796
1.074048
1.074328
1.07452
1.0747
1.074868
1.075032
1.075152
1.075296
1.075444
1.07554
1.075644
1.075696
1.075736
1.075808
1.075832
1.075912
1.075944
1.075964
1.075944
1.075948
1.075924
1.075928
1.075916
1.075936
1.075896
1.075912
1.075876
1.075864
1.075824
1.075788
1.075764
1.075708
1.075636
1.075604
1.075508
1.07544
1.075332
1.075236
1.075116
1.075032
1.074888
1.074792
1.074624
1.074436
1.074204
1.073924
1.073692
1.073364
1.073036
1.07262
1.072208
1.07178
1.071328
1.070792
1.07026
1.069804
1.069212
1.068608
1.067824
1.067024
1.066076
1.065044
1.063808
1.062252
1.060424
1.058192
1.055496
1.052176
1.047656
1.042736
1.0356
1.025284
1.009724
1.000016

In [26]:
x = np.linspace(0, 96, 97)

In [27]:
plt.figure()
plt.bar(x, states[1], label="Zuhause", color='#FFCA3A' )
plt.bar(x, states[2], bottom=states[1], label="Arbeit", color='#FF595E');
plt.bar(x, states[3], bottom=[i+j for i, j in zip(states[1], states[2])], label="Einkaufen", color='#8AC926');
plt.bar(x, zuhause_freizeit, bottom=[i+j+k for i,j,k in zip(zuhause_arbeit,zuhause_einkaufen,zuhause_freizeit)], label="Freizeit", color='#1982C4');
plt.bar(x, zuhause_sonstiges, bottom=[i+j+k for i,j,k in zip(zuhause_arbeit,zuhause_einkaufen,zuhause_freizeit)], label="Sonstiges", color='#6A4C93');

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89., 90.,
       91., 92., 93., 94., 95., 96.])