# Aufenthaltsdauer in Zuständen aus Rohdaten

Offenes / Unklares: 
* Wie umgehen mit Fahrten die nicht zuhause enden? 
* Wie Aufenthaltsdauer des Endzustands berechnen? ->  *Ankuftszeit Endzustand bis erste Abfahrtszeit erste Fahrt?*

### Zustände

* Zuhause -> 1
* Arbeit -> 2 
* Einkaufen -> 3 
* Freizeit -> 4
* Sonstiges -> 5

In [16]:
import pandas as pd

In [25]:
df = pd.read_csv(r'C:\Users\thoma\Desktop\ev-modelling-repo\Data\NHTS_trips_processed.csv')

In [26]:
df["aufenthalt"] = 0

In [27]:
df.head()

,ID,ST_WOTAG,WHYFROM,zweck,W_NR,TRPTRANS,wegkm,wegmin_imp1,W_SZ,W_AZ,W_SZ_MIN,W_AZ_MIN,aufenthalt
0,130000007,1,1,4,1,3,8.439,15,1000,1015,600,615,0
1,130000007,1,4,1,2,3,8.286,20,1510,1530,910,930,0
2,230000007,1,2,1,1,6,135.191,120,700,900,420,540,0
3,230000007,1,1,2,2,6,131.367,150,1800,2030,1080,1230,0
4,330000007,1,1,2,1,3,3.621,15,845,900,525,540,0

In [73]:
test = df[df["ID"] == 230000007]
test.head()

,ID,ST_WOTAG,WHYFROM,zweck,W_NR,TRPTRANS,wegkm,wegmin_imp1,W_SZ,W_AZ,W_SZ_MIN,W_AZ_MIN,aufenthalt
2,230000007,1,2,1,1,6,135.191,120,700,900,420,540,0
3,230000007,1,1,2,2,6,131.367,150,1800,2030,1080,1230,0

In [29]:
person_grpd = df.groupby(['ID'])

### ACHTUNG: Indizieren Spalte "aufenhthalt" über index -> Funktion bricht wenn wenn sich Spaltenindex ändert
* **Idee: Nutzen W_NR als Index in Groupby Objekten und dann Zugriff über .at -> Multiindex?**

In [94]:
# ACHTUNG: Indizieren Spalte Aufenthalt über Index 
def calc_aufenthalt(group):
    for i in range(len(group)): 
        if i == len(group)-1:
            # Annahme: Aufenthalt im letzten Zustand = Zeitdauer bis zur ersten Fahrt des Tages
            start_first_trip = group.iloc[0]["W_SZ_MIN"]
            end_last_trip =  group.iloc[i]["W_AZ_MIN"]
            
            # Gesamtaufenthalt = Rest des Tages + Dauer bis zum ersten Trip
            group.iat[i,12] = 1440 - end_last_trip + start_first_trip
        else:
            # Aufenthalt im Zustand "zweck" = Abfahrtszeit vom Zustand(= Startzeit nächster Trip) [in min] - Ankunftszeit im Zustand [in min]  
            group.iat[i,12] = group.iloc[i+1]["W_SZ_MIN"] - group.iloc[i]["W_AZ_MIN"]

In [90]:
calc_aufenthalt(test)
test

0
1

In [95]:
for name, group in person_grpd:
    calc_aufenthalt(group)

In [97]:
person_grpd

In [ ]:
data = pd.DataFrame()

In [ ]:
for name, group in person_grpd:
    data = data.append(group)

In [ ]:
data.head()

In [ ]:
test1 = df[df["ID"] == 130000007]
test2 = df[df["ID"] == 230000007]