In [1]:
import pandas as pd

In [23]:
models = pd.read_excel(r"C:\Users\thoma\Desktop\ev-modelling-repo\Data\EV_Modelle_Tabelle.xlsx", index_col='Modell')
models.head()

                       Hersteller  Segment  Batterie  Verbrauch  Leistung
Modell
Fortwo electric Drive       Smart        1      17.6       12.9      60.0
e-up!                          VW        1      18.7       11.7      60.0
Forfour electric Drive      Smart        2      17.6       13.1      60.0
ZOE Z.E. 40              Renault         2      41.0       11.2      68.0
i3 94Ah                       BMW        2      27.2       13.6     125.0

In [28]:
class Electric_Vehicle:
    model_df = get_model_df()
    
    def __init__(self, model):
        # Exception wenn model nicht in model_df?
        models = Electric_Vehicle.model_df
        self.MODEL = model
        self.SEGMENT = models.at[model, "Segment"]
        self.CAPACITY = models.at[model, "Batterie"]
        self.CONSUMPTION = models.at[model, "Verbrauch"]
        self.POWER = models.at[model, "Leistung"]
        
    def get_model_df():
       return pd.read_excel(r"C:\Users\thoma\Desktop\ev-modelling-repo\Data\EV_Modelle_Tabelle.xlsx", index_col='Modell')

In [30]:
ev = Electric_Vehicle("Model 3")
vars(ev)

{'MODEL': 'Model 3',
 'SEGMENT': 4,
 'CAPACITY': 50.0,
 'CONSUMPTION': 14.1,
 'POWER': 192.0}

### Beispieldaten der relativen Verteilung der Fharzeugsegmente aus MOP Studie 2016

In [34]:
prob_seg = {
    1 : 5.92,
    2 : 19.58,
    3 : 26.21,
    4 : 15.97,
    5 : 2.9,
    6 : 0.58,
    7 : 3.54,
    8 : 1.22,
    9 : 6.37,
    10 : 5.86,
    11 : 3.86,
    12 : 0.58,
    13 : 5.28,
    -9 : 2.12
}

In [36]:
count = 0
for key, val in prob_seg.items(): 
    count += val 
count

99.99000000000002

In [31]:
def build_car():
    segment = choose_segment()
    model = choose_model(segment)
    return Electric_Vehicle(model)